<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kelvincb.ikazi">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.location.gps" />

    <!--  -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyANg9sYZvRemUAQ1BvnEw7oA5apwAJ_AH0" />

        <activity
            android:name=".UserLoginAndRegister.LoginRegisterActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Main.MainActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <service android:name=".UserLoginAndRegister.userLogin.firebaseStuff.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".UserLoginAndRegister.userLogin.firebaseStuff.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".IntroSlider.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main.mainFragments.availableWorkers.mLocation.autoCompleteLocation" />
        <activity android:name=".Main.mainFragments.userHistory.processedRequestPackage.processedInfo" />
        <activity android:name=".MyAdmob">


        </activity>
        <activity
            android:name=".splashScreen.SplashScreenActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"
             />

        <activity android:name=".trial">



        </activity>
    </application>

</manifest>